/* Minerva TOC styles used in both versions: floating button
and sticky headers.
*/

@horizontal-margin: @spacing-100;

// Table of contents (TOC)
.minerva-toc__toc() {
	background: @background-color-base;
	border: @border-subtle;
	position: fixed;
	left: @horizontal-margin;
	right: @horizontal-margin;
	box-sizing: border-box;
	width: calc( 100% - 2 * @horizontal-margin );
	max-width: 640px;
	min-height: 250px;
	overflow: auto;
}

// Button that toggles the TOC
.minerva-toc-button() {
	background-color: @background-color-interactive-subtle--active;
	border-color: @border-color-interactive--active;
	color: @color-base;

	&:hover {
		background-color: @background-color-interactive-subtle--hover;
		border-color: @border-color-interactive--hover;
		color: @color-base;
	}
}

// Vue Transition classes for TOC fade in/out (300ms)
.ext-readerExperiments-minerva-toc-fade-enter-active,
.ext-readerExperiments-minerva-toc-fade-leave-active {
	transition: opacity 300ms;
}

.ext-readerExperiments-minerva-toc-fade-enter-from,
.ext-readerExperiments-minerva-toc-fade-leave-to {
	opacity: 0;
}
