@import 'mediawiki.skin.variables.less';

.ext-readerExperiments-stickyHeaders {
	background-color: @background-color-base;
	position: sticky;
	top: 0;
	z-index: 1;

	// Add a div that peeks beyond the margins to cover up anything stray
	.ext-readerExperiments-stickyHeaders-background {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: @background-color-base;
		margin-left: -@spacing-100;
		margin-right: -@spacing-100;
		z-index: -1;
	}

	// Ensure that sub-headings and other fragment links are visible when jumped to
	// stylelint-disable selector-class-pattern
	& + .mf-collapsible-content {
		[ id ] {
			scroll-margin-top: @spacing-400;
		}
	}
}
