@import 'mediawiki.skin.variables.less';

.ext-readerExperiments-semanticsearch {
	&-result__namespace {
		font-weight: normal;
		background: @background-color-neutral;
		padding: @spacing-25 @spacing-50;
	}

	// stylelint-disable-next-line selector-class-pattern
	.searchmatch {
		background: @background-color-warning-subtle;
	}
}
